.cartContainer{
  flex: 1;
  min-height: 65vh;
}
.cart-product-container {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 20px;
    background-color: #f0efef;
    border-radius: 5%;
    
  }
  
  .cart-product-image {
    height: 400px;
    width: auto;
    flex-shrink: 0;
    border-radius: 5%;
  }
  
  .cart-product-details {
    margin-left: 20px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
  }

  .myCart{
    margin: 20px;
    margin-left: 35px;
  }
  .checkout{
    margin: 20px;
  }
  .description{
    margin-right: 15px;
  }
  