.cart-product-container {
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f0efef;
    border-radius: 5%;
  }
  
  .cart-product-image {
    height: 400px;
    width: auto;
    flex-shrink: 0;
    border-radius: 5%;
  }
  
  .cart-product-details {
    margin-left: 20px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
  }
  
  .singleButton {
    margin-right: 10px;
  }
  
  