.homeContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    flex: 1;
    min-height: 68vh;
  }
.image{
  width: 500px;
}
.homeBody {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.homeSection {
  width: 90%;
  display: flex;
  height: 500px;
}
.homeSection img{
  width: 45%;
}
.homeLeft {
  background-color: white;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 25px;
}
.homeLeft h2{
    font-size: 38px;
    color: #8d706b;
    font-family: Arial,Helvetica,sans-serif;
}
.shop{
  margin-top: 20px;
  border: none;
  background-color: white;
}
.shop:hover{
  cursor: pointer;
  font-weight: bold;
}